
<nav>
   <div class="nav-wrapper indigo darken-2">
     <a href="/contacts" class="brand-logo">Contacts</a>
     <ul id="nav-mobile" class="right hide-on-med-and-down">
       <li><a href="/contacts/new">New Contact</a></li>

     </ul>
   </div>
 </nav>
